@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700;800&display=swap');
@import "tailwindcss";

#root{
    /*font-family: "Futura";
    src: url("./fonts/Futura-Regular.woff2") format("woff2"),
        url("./fonts/Futura-Regular.woff") format("woff"),
        url("./fonts/Futura-Regular.ttf") format("truetype");*/
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    font-family: 'Baloo 2', cursive;
}
#Hero-Section{
    background: linear-gradient(to right, #BCE9BD 0%, #CFF3D3 50%, #E3F8E4 100%);
}
